<button
  (click)="downloadPDF()"
  [disabled]="isDownloading()"
  [class.cursor-not-allowed]="isDownloading()"
  class="btn btn-outline w-full select-none"
>
  @if (isDownloading()) {
    <mat-icon class="!w-5 !h-5 !text-[20px] animate-spin">sync</mat-icon>
    <span>Gerando PDF...</span>
  } @else {
    <mat-icon class="!w-5 !h-5 !text-[20px]">download</mat-icon>
    <span>Baixar CV</span>
  }
</button>

<div class="absolute left-[-9999px] top-[-9999px]">
  <app-resume-view #resumeTemplate></app-resume-view>
</div>
