// Include theming for Angular Material with `mat.theme()`.
@use '@angular/material' as mat;

html {
  // Mantém a inicialização do tema para que os componentes saibam renderizar
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light dark;
  height: 100%;
}
