@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #E0D3BA;
  color: #2C2523;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
